
/** 通用 currency **/
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #006688;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.separator{
  margin-right: 4px!important;
  margin-left: 4px!important;
}
.separator-left{
  margin-left: 4px!important;
}
.separator-right{
  margin-right: 4px!important;
}
.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

/** BackToTop 返回顶部 **/
#BackToTop div {
  color: #fff;
  font-size: 24px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .2s ease;
  z-index: 999;
  background-color: #2196F3;
}
#BackToTop:hover div{
  background-color: #e91e63;
}

/** banner 横幅模块 **/
.banner {
}

/** article模块 **/
article {
  margin: 1em 0;
  border-bottom: 1px dashed #d9d9d9;
}
article header {
  position: relative;
}
article header img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background-color: #eee;
  border: 1px solid #eee;
  position: absolute;
  right: 5px;
  bottom: 2px;
}
article header h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin: .2em 0;
}
article header h2 a,
article header h2 a:visited {
  color: #222;
}
article header h2 a:focus,
article header h2 a:hover {
  color: #006688;
}
article header .meta {
  color: #999;
  font-size: 90%;
  padding: .2em 0;
}
article header span {
  margin-right: 5px;
}
article .content_detailed .sum_image{
  overflow: hidden;
  margin-right: 20px;
}
article .content_detailed .sum_image,
article .content_detailed .sum_image img{
  height: 150px;
  width: 200px;
}
article .content_detailed .sum_content {
}

article > footer {
  text-align: right;
  margin: 10px 25px 10px 0;
}

/** post 顶部标题 **/
.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}
.header h1 small {
  color: #bbb;
  font-weight: normal;
}

.small-print {
  font-size: .8em;
  margin: .6em;
}

/** post 顶部文章属性 **/
.post-meta {
  font-size: 90%;
  padding-bottom: 8px;
  margin: 8px 0;
  border-bottom: 1px solid #eee;
}

.post-meta div {
  padding-left: 5px;
}
.post-meta div i {
  padding-right: .2em;
}

.blob-path {
  padding: 5px 0;
  background-color: #eee;
}
/** taxonomies 标签分类 **/
.taxonomies {
  margin: 6px;
}
.taxonomies ul,
.taxonomies ul li {
  display: inline-block;
}
.taxonomies ul a {
  color: white;
}
.taxonomies li {
  position: relative;
  padding: 0 .5em;
  margin: 4px 5px;
  border-radius: 3px;
  background: #129fea;
}

.taxonomies ul.tags li {
  background: #5aba59;
}

.taxonomies ul.term li {
  padding-right: 0;
}
.taxonomies ul.term li span {
  background-color: rgba(0,0,0,.2);
  padding: 0 .5em;
  margin-left: .3em;
  border-radius: 3px;
  display: inline-block;
  color: rgba(255,255,255,.8);
}

/** 标签分类页模块 taxonomy **/
ul.content-top {
  margin-top: 1em;
}

ul.content-top .categories-font {
  font-size: 1.3em;
}

/** 上下页模块 **/
.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

/** 菜单 menu **/
#menu {
  overflow-y: visible;
}

#menu .avatar {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: .6em;
  text-align: center;
}
#menu .avatar img {
  vertical-align:middle;
}
#menu .pure-menu li.pure-menu-active>a.pure-menu-link{
  background-color: #333;
}
#menu .pure-menu ul.pure-menu-children {
  border-top: none;
  background: #191818;
}
#menu .pure-menu ul.pure-menu-children li a {
  padding-right: .6em;
}
#menu .pure-menu ul li a i{
 margin-right: .2em;
}

.social-menu {
  border-top: 1px solid #333;
  padding-top: .6em;
  padding-left: .6em;
}
#menu .social-menu a,
#menu .avatar a {
  padding: .2em;
}

.social-menu i:hover {
  color: #fff;
}
.social-menu i,
.copyright i {
  margin: 0;
}

/** 赞赏模块 and 分享模块 **/
#share {
  padding-top: .8em;
  padding-left: .8em;
  border-top: 1px dashed #9E9E9E;
  position: relative;
}
#share i {
  color: #999;
  margin-right: .4em;
}
#share i.fa-wechat:hover {
  color: #4caf50;
}
#share i.fa-qq:hover {
  color: #2196F3;
}
#share i.fa-weibo {
  font-size: 2.2em;
}
#share i.fa-weibo:hover {
  color: #F44336;
}
#share i.fa-twitter {
  font-size: 2.4em;
}
#share i.fa-twitter:hover {
  color: #00BCD4;
}
#qrcodeQR {
  bottom: 40px;
  padding: 10px;
  background-color: #fff;
  border: 2px dashed #3cb034;
  position: absolute;
}

#reward {
  text-align: center;
  padding: .8em;
  position: relative;
}
#reward .reward-box {
  display: inline-block;
}
#reward a .reward-button {
  color: #fff;
  font-size: 2em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-bottom-width:3px;
  background-color: #999;
}
#reward a:hover .reward-button {
  border-style: dashed;
  background-color: #ff5f53;
}
#rewardQR {
  bottom: 80px;
  right: 15%;
  left: 15%;
  padding: 10px;
  background-color: #eee;
  border: 2px dashed #000;
  position: absolute;
}
#rewardQR img {
  height: 180px;
  width: 180px;
  padding: 5px;
}

/** post 底部版权模块 **/
.copyright-notice {
  padding: .5em;
  margin-top: 2em;
  border-radius: .3em;
  background-color: #f6f6f6;
  border: 1px solid #cecece;
}

.copyright-notice .notice-title {
  color: #0259b9;
  font-size: 14px;
}
.copyright-notice .notice-content {
  color: #6a737d;
  font-size: 12px;
  padding-left: 2em;
}
.copyright-notice .notice-content a {
  color: #6f42c1;
}

/* 广告 */
#advertise {
  padding: .5em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* 心跳动画 heartAnimate */
.heart {
  color: #df3535;
  display: inline-block;
  -webkit-animation: heartAnimate 1.33s ease-in-out infinite;
  animation: heartAnimate 1.33s ease-in-out infinite;
}
@-webkit-keyframes heartAnimate {
  0%, 100% { -webkit-transform:scale(1) }
  10%, 30% { -webkit-transform:scale(.9) }
  20%, 40%, 60%, 80% { -webkit-transform:scale(1.1) }
  50%, 70% { -webkit-transform:scale(1.1) }
}
@keyframes heartAnimate {
  0%, 100% { transform:scale(1) }
  10%, 30% { transform:scale(.9) }
  20%, 40%, 60%, 80% { transform:scale(1.1) }
  50%, 70% { transform:scale(1.1) }
}

/* 360度旋转 */
.rotate img:hover,
.rotate svg:hover,
.rotate i:hover,
.rotate-spin:hover {
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
